<h1> Welcome to Ansible Class of DevOpsSchool.com by {{ myname }} - {{ age }} </h1>
<h2> Output from the shell script is :::::::::::::::::::{{ with_output }} </h2>
<h2>fact var is {{ ansible_os_family }}</h2>
<h2> inventory variable {{ OS }}</h2>
<h2> variable from var section {{ OSNAME }}</h2>
<h2> Variable from the prompt {{ Operating_system }}</h2>
